* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #282828;
    color: #d8d8d8;
}

.main-container {
    background-color: #303030;
    display: flex;
    justify-content: center;
    width: 70%;
    height: 100vh;
    margin: auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-right: 1px solid #131313;
}

.map-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1;
    position: relative;
}

.player {
    padding: 10px;
    display: flex;
    height: 25%;
    justify-content: space-around;
    border-top: 1px solid #131313;
}

.dialogue {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 10px;
}

.text-wrapper {
    display: flex;
    position: relative;
    flex-grow: 1;
    margin-bottom: 1rem;
    overflow: auto;
}

.text {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-top: auto;
    overflow-y: scroll;
}

li:not(:last-child) {
    margin-bottom: 5px;
}

.player p,
.dialogue p {
    margin-bottom: 10px;
}

form {
    margin-bottom: 1rem;
    margin-top: auto;
    display: flex;
}

label {
    display: block;
    margin-right: 10px;
    font-weight: bold;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #d8d8d8;
    color: #282828;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #a9a9a9;
}

/*Room Image Stuff*/
.roomDisplay {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    background-image: url("./paper.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border: solid rgb(59, 50, 30);
    display: flex;
    flex-direction: column;
    flex: 1;
}



/*Map Stuff*/

.map-wrapper {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    /* background-color: rgb(255, 164, 45); */
    background-image: url("./paper.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border: solid rgb(59, 50, 30);
    clear: both;
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.row {
    width: 100%;
    height: calc(100% / 9);
    margin: auto;
    clear: both;
}

.map span {
    display: block;
    width: calc(100% / 9);
    height: 100%;
    float: left;
    visibility: visible;
}

.map span p {
    text-align: center;
    height: 100%;
    font-size: calc(100% / 55);
}

.map .row span.active p {
    visibility: visible;
}
.map .row span.hidden p {
    visibility: hidden;
}

.map .row span.active {
    border: solid rgb(59, 50, 30);
}
.map .row span.current {
    background-color: rgb(243, 232, 74);
}
.map .row span.hidden {
    border: none;
}

/*Maybe don't need?*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

/*Divides the page elements into 10 columns of equal width*/
/*Give a div a class "col-" + the # of columns wide it should be*/
.col-1 {
    width: 10%;
}
.col-2 {
    width: 20%;
}
.col-3 {
    width: 30%;
}
.col-4 {
    width: 40%;
}
.col-5 {
    width: 50%;
}
.col-6 {
    width: 60%;
}
.col-7 {
    width: 70%;
}
.col-8 {
    width: 80%;
}
.col-9 {
    width: 90%;
}
.col-10 {
    width: 100%;
}
