* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #282828;
    color: #d8d8d8;
}

.main-container {
    background-color: #303030;
    display: flex;
    justify-content: center;
    width: 70%;
    height: 100vh;
    margin: auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-right: 1px solid #131313;
}

.map-info {
    padding: 10px;
}

.player {
    padding: 10px;
    margin-top: auto;
    display: flex;
    height: 25%;
    justify-content: space-around;
    border-top: 1px solid #131313;
}

.dialogue {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 10px;
}

.text-wrapper {
    position: relative;
    flex-grow: 1;
    margin-bottom: 1rem;
    overflow-y: scroll;
}

.text {
    position: absolute;
    bottom: 0px;
    left: 0px;
    overflow-y: scroll;
}

li:not(:last-child) {
    margin-bottom: 5px;
}

p {
    margin-bottom: 10px;
}

.actions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

form {
    margin-bottom: 1rem;
    margin-top: auto;
    display: flex;
    /* padding: 10px; */
}

label {
    display: block;
    margin-right: 10px;
    font-weight: bold;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #d8d8d8;
    color: #282828;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #a9a9a9;
}
